@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  // Dùng để khai báo biến
  --primary: #fe2c55;

  // Default layout
  --default-layout-header-height:60px;
  --default-layout-width-content:1150px;
  --black: #000;
  --white: #ffff;
  --text-color: #333;
}
* {
  // reset hoặc quy định thuộc tính chung
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // Dùng để định nghĩa base style cho toàn bộ app
  font-size: 65%; // font-size của html là 16px. 65% = (65/16) *100 = 10.4px | Theo HTML 1rem=10.4px
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  list-style: 1.5;
  text-rendering: optimizeLegibility; //Hiển thị chữ mượt hơn, nhất là với font chữ đẹp như Google Fonts.
}

button, input, [tabindex] { // bất cứ thẻ nào có tabindex nữa
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
}